
/* PRIMER EJEMPLO */
.parent-example-1{
    display: grid;
    place-items:center;
    background-color: lightblue;
    width: 100%;
    height: 400px;
    resize: both;
    overflow: auto;
}
.child-example-1{
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid red;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
}
body{
    margin:0;
    font-family: system-ui,serif;
}

/* SEGUNDO EJEMPLO */


.parent-example-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-example-2{
    
    flex: 0 1 300px;
    border: 1px solid red;
    background: lightpink;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
}

/* TERCER EJEMPLO */

.parent-example-3{
    display: grid;
    grid-template-columns: minmax(150px, 25px)1fr;
    padding: 1rem;
    margin: 0;
}

.section-yellow-example-3{
   
    background: lightpink;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    resize: both;
    overflow: auto;
}

.section-purple-example-3{
    padding: 1rem;
    font-size: 12px;
    background: lightblue;
    resize: both;
    overflow: auto;
}


.parent-example-4{
    display: flex;
    justify-content: center;;
}

.example-4{
    background: yellow;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  
  @media (orientation: landscape) {
    .parent-example-4{
      flex-direction: row;
      align-items: center;
     
    }
    .example-4{
        background: rgb(122, 207, 210);
        border: 1px solid rgb(69, 126, 57);
    }
  }
  
  @media (orientation: portrait) {
    .parent-example-4 {
      flex-direction: column;
      align-items: center;
    
    }
    .example-4{
        background: lightpink;
        border: 1px solid red;
    }
  }